.vscode/**
src/**
../../packages/**
../../apps/desktop/**
../../test/**
../../fixtures/**
../../docs/**
../../docs-site/**
../../.hallmark/**
esbuild.mjs
tsconfig.json
dist/test-*
**/*.map
.gitignore
.DS_Store
*.vsix
!media/**
!templates/**
!LICENSE
!CHANGELOG.md
!README.md
!package.json
!package-lock.json
!dist/**
